@import '~reset-css/sass/_reset.scss';

%borderbox {
    box-sizing: border-box;
    border: 1px solid black;
}

.container {
    @extend %borderbox;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
}

.header {
    @extend %borderbox;
    min-height: 40;
    flex: 0 0 auto;
}
.mid {
    @extend %borderbox;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
}

.left {
    @extend %borderbox;
    flex: 0 0 auto;
}

.right {
    @extend %borderbox;
    flex: 1 0 auto;
}

.footer {
    @extend %borderbox;
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
