doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='U-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Page Title
    link(rel='stylesheet' type='text/css' media='screen' href='./css/index.scss')
    script(src='js/index.ts')
  body

